<phpunit
	bootstrap="./tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
>
	<testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory suffix=".php">tests</directory>
            <exclude>tests/bootstrap.php</exclude>
            <exclude>tests/wordpress-tests/</exclude>
        </testsuite>
    </testsuites>
</phpunit>